
head {
    font-family: 'Quicksand', sans-serif;
}

body {
    font-family: 'Quicksand', sans-serif;
    margin: auto auto;
    display: block
}

main {
    padding: 2%;
    margin: 2%;
    margin: 0, auto;
    display: flex;
}

aside {
    position: sticky;
    border-radius: 33px;
    border: solid;
    width: 30%;
    float: left;
    padding: 10px;
    align-items: stretch;
}

#topSidePanel {
    border-radius: 33px;
    border: solid;
    padding: 10px;
    margin-bottom: 10%;
}

#bottomSidePanel {
    border-radius: 33px;
    border: solid;
    padding: 10px;
    text-align: center;
}

#bottomPanelBullets {
    font-size: large;
}

#mainPanel {
    width: 70%;
    margin: 3px;
    position: sticky;
    border-radius: 33px;
    border: solid;
    padding: 10px;
}

.fa { 
    padding: 19px;
    font-size: 30px;
    width: 22px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    background: white;
    color: #0a66c2;
}    


